<div class="estado-container">
  <h2>Estado de Llenado Automático de la Tolva</h2>

  <div class="porcentaje-container">
    <p>Porcentaje de llenado:</p>
    <div class="rectangulo">
      <div class="relleno" [style.height.%]="porcentaje" [style.backgroundColor]="porcentaje < 20 ? 'red' : '#4caf50'">
      </div>

    </div>
    <p>Llenado: {{ porcentaje }}%</p>

  </div>

  <div class="botones">
    <button id="btnIniciar" (click)="controlarActuador('/encender-motor')">Iniciar</button>
    <button id="btnParar" (click)="controlarActuador('/apagar-motor')">Parar</button>
    <button (click)="redirectToRoute()" class="submit-btn">home</button>
  </div>
</div>
