<div class="estado-container">
  <h2>Estado de Llenado Automático de la Tolva</h2>

  <div class="porcentaje-container">
    <p>Porcentaje de llenado:</p>
    <div class="rectangulo">
      <div class="relleno" [style.height.%]="porcentaje" [style.backgroundColor]="porcentaje < 20 ? 'red' : '#4caf50'">
      </div>
    </div>
    <p>Llenado: {{ porcentaje }}%</p>
  </div>

  <div class="botones">
    <!-- Botones para controlar el LED -->
    <button id="btnIniciar" (click)="controlarActuador('on')">Iniciar LED</button>
    <button id="btnParar" (click)="controlarActuador('off')">Apagar LED</button>

    <!-- Botón para redirigir a Home -->
    <button (click)="redirectToRoute()" class="submit-btn">Home</button>
  </div>
</div>
