<div class="login-container">
  <div class="login-box">
    <!-- Avatar -->
    <div class="avatar">
      <img src="assets/images/logochido.jpg" alt="Avatar" class="avatar-img">
    </div>

    <!-- Formulario -->
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
      <div class="input-group">
        <label for="ususario">Usuario</label>
        <input type="text" id="name" formControlName="name" placeholder="Enter your name" required>
      </div>

      <div class="input-group">
        <label for="contraseña">Contraseña</label>
        <input type="password" id="password" formControlName="password" placeholder="Enter your password" required>
      </div>

      <button type="submit" class="submit-btn">Ingresar</button>

    </form>
  </div>
</div>
