/* Contenedor del formulario */
.form-container {
  max-width: 30rem;
  margin: auto;
  padding: 20px;
  background-color: #E8E1DB;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: sans-serif, "Source Sans Pro";
}

.form-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

form input[type="text"],
form input[type="number"],
form input[type="datetime-local"],
form textarea {
  width: 95%;
  max-width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.select-reciclaje, 
.select-contaminantes {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

/* Contenedor de los botones */
.button-container {
  display: flex;
  gap: 10px;
  /* Espacio entre botones */
  margin-top: 15px;
}

/* Botón Agregar */
form button[type="submit"] {
  flex: 1;
  padding: 0.5rem;
  margin-right: 0.25rem;
  background-color: #A9AC5D;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

form button[type="submit"]:hover {
  background-color: #A9AC5D;
  transform: scale(1.05);
}

/* Botón Volver al Home */
.home-button {
  flex: 1;
  padding: 0.5rem;
  margin-left: 0.25rem;
  background-color: #A9AC5D;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.home-button:hover {
  background-color: #A9AC5D;
  transform: scale(1.05);
}

.botones {
  flex-direction: row;
  position: relative;
  display: flex;
  /* padding: 0.5re; */
  align-content: space-between;
}
