/* Estilo general */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

/* Contenido principal */
.content {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
}

p {
  font-size: 1.1rem;
  color: #666;
}

/* Recuadro de datos del usuario */
.user-info {
  background-color: #E8E1DB;
  border: 2px solid #3A3C26;
  border-radius: 8px;
  padding: 15px;
  margin: 20px 0;
}

.user-info h2 {
  color: #3A3C26;
}

.user-info ul {
  list-style-type: none;
  padding: 0;
}

.user-info li {
  font-size: 1rem;
  color: #333;
  margin: 8px 0;
}

.user-info strong {
  color: #3A3C26;
}

/* Estilo para los botones dentro del contenido principal */
.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.btn-item {
  background-color: #A9AC5D;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-item img {
  margin-bottom: 10px;
}

.btn-item:hover {
  background-color: #6D6C3C;
  transform: scale(1.05);
}

.btn-item:focus {
  outline: none;
}

/* Barra de navegación fija */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #A9AC5D;
  /* Color base */
  display: flex;
  justify-content: space-around;
  padding: 0;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

/* Estilo de los botones de la barra de navegación */
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

.nav-item img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Hover: cambia el fondo y hace zoom en la imagen */
.nav-item:hover {
  background-color: #6D6C3C;
  /* Color al pasar el cursor */
  border-radius: 5px;
  padding: 8px;
}

.nav-item:hover img {
  transform: scale(1.1);
  /* Zoom suave */
  opacity: 0.8;
  /* Transparencia al pasar el cursor */
}

.nav-item:focus {
  outline: none;
}
