<div class="content">
  <!-- Contenido principal de la página -->
  <h1>EcoTrack</h1>
  <p>By Technovision</p>

  <!-- Recuadro con los datos del usuario -->
  <div *ngIf="userInfo">
    <h2>Información del Usuario</h2>
    <p><strong>Nombre:</strong> {{ userInfo.name }}</p>
    <p><strong>Posición:</strong> {{ userInfo.position }}</p>
  </div>
  <div *ngIf="!userInfo">
    <p>Cargando información del usuario...</p>
  </div>

  <!-- Botones en el contenido principal -->
  <div class="buttons">
    <div>
      <button (click)="agregar()" class="btn-item">Agregar</button>
    </div>
    <div>
      <button (click)="estado()" class="btn-item ">estado</button>
    </div>
  </div>
</div>

<!-- Barra de Navegación Fija -->
<div class="navbar">
  <div>
    <a routerLink="/inicio" class="nav-item">
      <img src="assets/images/home.png" alt="home" width="50px" height="50px">
    </a>
  </div>

  <div>
    <a routerLink="/perfil" class="nav-item">
      <img src="assets/images/user.png" alt="user" width="50px" height="50px">
    </a>
  </div>

  <div>
    <a routerLink="/configuracion" class="nav-item">
      <img src="assets/images/gear.png" alt="config" width="50px" height="50px">
    </a>
  </div>
</div>
