<div class="container">

    <div class="title">
        <p>Mi perfil</p>
    </div>

    <div class="content-datos">

        <p>Codigo: </p>
        <label for=""> {{ userInfo.code }} </label>

        <p>Nombre: </p>
        <label for=""> {{ userInfo.name }} </label>

        <p>Email: </p>
        <label for=""> {{ userInfo.email }} </label>

        <p>Posición: </p>
        <label for=""> {{ userInfo.position }} </label>


        <div class="boton">
            <button (click)="inicio()">Inicio</button>
        </div>

    </div>
</div>